<div id=<%=actionType%> >
  <script src=<%='/users/'+actionType+'.js'%>></script>
  <form>
    <input class="username-input" type="text" name="username" placeholder="username" autocomplete="off"/>
    <input class="password-input" type="password" name="password" placeholder="password" autocomplete="off"/>
    <button type="submit"><%=actionType%></button>
  </form>
</div>
