<!DOCTYPE html>
<html>
  <head>
    <title>Notes</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="notes.js"></script>
  </head>
  <body>
    <h1>
      Notes
    </h1>
    <form>
      <input type="text" name="name" placeholder="untitled" required/>
      <button type="submit">Add note</button>
    </form>
    
    <ul>
      <% for(var i=0; i<notes.length; i++) { %>
     		<li> title: <%= notes[i].name %> </li>
      <% } %>
    </ul>
  </body>
</html>