<!DOCTYPE html>
<html>
  <head>
    <title>Notes</title>
    <link rel="stylesheet" href="notes-style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="notes.js"></script>
  </head>
  <body>
    <h1>
      Notes
    </h1>
    
    <div id="notes-list">
      <form>
        <input type="text" name="name" placeholder="untitled" required/>
        <button type="submit">Add note</button>
      </form>
    
      <ul>
        <% for(var i=0; i<notes.length; i++) { %>
        <li id="<%=notes[i].id%>"> 
					<p> title: <%= notes[i].name %> </p>
          <!--
          <textarea> title: <%= notes[i].name %> </textarea>
-->
          <button class="edit" > edit </button>
          <button class="remove" > remove </button>
        </li>
        <% } %>
      </ul>
    </div>
  </body>
</html>